###C++###

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app



*.swp
*.o
location.hh
position.hh
stack.hh
lexer.yy.cc
parser.output
parser.tab.cc
parser.tab.hh
file-query
sql-file
